/* main tags element */
.stork-tags {
	display: block;
	position: relative;
	overflow: hidden;

	&:focus {
		outline: 0;
	}

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
		height: 100%;
		flex-grow: 1;
		cursor: text;

		display: flex;
		justify-content: flex-start; /*horizontal*/
		align-items: center; /*vertical*/

		> li {
			display: flex;
			white-space: nowrap;
			flex-grow: 0;

			&.tag {
				cursor: default;

				> a.remove {
					display: flex;
					justify-content: center; /*horizontal*/
					align-items: center; /*vertical*/
				}
			}
			&.search-li {
				&.no-tags {
					flex-grow: 1;
				}

				input.search {
					width: 100%;
				}
			}
		}
	}

	> input.search {
		height: 100%;
		flex-grow: 1;
		border: 0 none;

		&:focus {
			outline: 0 none;
		}
	}
}
.stork-tags-dropdown-container {
	position: absolute;
	z-index: 999;
	margin: 0;
	padding: 0;
	display: none;

	&:focus {
		outline: 0;
	}

	&.focused.has-results {
		display: block;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}